@import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);

@font-face {
  font-family: "figtree";
  src: url("../../public/fonts/Figtree-VariableFont_wght.woff2") format("woff2"),
    url("../../public/fonts/Figtree-VariableFont_wght.woff") format("woff"),
    url("../../public/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}



html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  font-family: "figtree",  serif;
}


a,
button {
  font-family: "JejuMyeongjo";
}

:root {
  --color-bg: #f3f0e8;
  --color-blue: #9dcde3;
  --color-yellow: #fceb86;
}
