---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Heroimg from "../components/heroimg.astro";
import Productcardliste from "../components/productcardliste.astro";
import Footer from "../components/footer.astro";
import InstaFeed from "../components/instagram.astro";
import ForsideTop from "../components/forsidetop.astro";
import Slider from "../components/slider.astro";
import Printevent from "../components/printevent.astro";
const curl = "https://sfmqbipvztwmykdsygxb.supabase.co/rest/v1/products?select=*";
const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmbXFiaXB2enR3bXlrZHN5Z3hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjgzMjcsImV4cCI6MjA1OTg0NDMyN30.0HEP6nkoSRfWQBC-P1LtCYh1a8pwIoZoRvlJd6v6IpM";

const options = {
  headers: { apikey: apikey },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<Layout>
  <header>
    <Header />
    <Heroimg />
  </header>
  <main>
    <ForsideTop />
    <Slider />
    <InstaFeed />
    <Printevent />
    <Productcardliste products={data} />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
