<section class="blue">
  <img class="gultekst" src="../../public/img/printoverskrift.webp" alt="overskrift" />
  <img src="../../public/img/printevent.webp" alt="billeder fra printvent med pleasant" />
  <div class="tekst">
    <h3>Giv nyt liv til dit gamle tøj</h3>
    <p>Print 09 “Tænk dig til Thy - by Pleasant” fredag 18. April 16.00-21.00</p>
    <p>Kig i gemmerne, og tag dine gamle tekstiler med, og få dem upcycled med vores fede nye print.</p>
    <p>Der vil være musik, hygge og COLD HAWAII øl fra Thisted bryghus hele aftenen.</p>
    <p>Vi ses! - Pleasant</p>
  </div>
</section>

<style>
  .blue {
    background-color: #1f5da6;
  }
  .gultekst {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-left: 2vw;
  }
  .tekst {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-left: 2vw;
    padding: 0;
    margin-bottom: 2vw;
  }
  img {
    grid-row: 1 / span 2;
    margin-top: 4vw;
    margin-right: 3vw;
    width: 90%;
  }

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 4vw;
    margin-top: 4vw;
  }

  @media screen and (max-width: 768px) {
    section {
      display: block; /* Switch to block layout on mobile */
      padding-bottom: 3vw;
      padding-top: 3vw;
    }

    .tekst {
      margin-left: 0; /* Adjust margins for mobile */
      margin-right: 0;
    }

    img {
      margin: 0 auto; /* Center the image on mobile */
      display: block;
      width: 90%; /* Adjust image size for mobile */
    }
  }

  p {
    color: white;
    line-height: 4vw;
    margin-left: 4vw;
  }

  .tekst {
    margin-top: 2vw;
    margin-left: 4vw;
    margin-bottom: 4vw;
    margin-right: 4vw;
  }

  h3 {
    color: white;
    margin-left: 3vw;
    margin-bottom: 3vw;
  }

  .gultekst {
    width: 90%;
    height: auto;
    margin-top: 2vw;
  }
</style>
