---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pleasant</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @import url(https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo);

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  html,
  body,
  a,
  button {
    font-family: "JejuMyeongjo";
  }

  :root {
    --color-bg: #f3f0e8;
    --color-blue: #9dcde3;
  }
</style>
